#----------------#
# Config Service #
#----------------#
CONFIG_SERVER_HOSTNAME=config-service
CONFIG_SERVER_PORT=8888

#-------------------#
# Discovery Service #
#-------------------#
DISCOVERY_SERVER_HOSTNAME=discovery-service
DISCOVERY_SERVER_PORT=8761

#--------------#
# API GATEWAY #
#--------------#
GATEWAY_SERVER_PORT=8222

# Environment of spring profiles
GATEWAY_SERVER_PROFILES=prod
#GATEWAY_SERVER_PROFILES=dev

#-----------------#
# Patient Service #
#-----------------#
#enviroment of patient database
PATIENT_DB_URL=jdbc:postgresql://patient-service-postgres:5432/patient-service
PATIENT_DB_NAME=patient-service
PATIENT_DB_USERNAME=user
PATIENT_DB_PASSWORD=password

#enviroment of patient server
PATIENT_SERVER_PORT=8002

# Environment of spring profiles
PATIENT_SPRING_PROFILES=prod
#PATIENT_SPRING_PROFILES=dev

# Enviroment of secret keys
ENCRYPTION_KEY=secret123
MEDSYNC_HASH_KEY=secret123

#--------------#
# Auth Service #
#--------------#
#Environment of auth database
AUTH_DB_URL=jdbc:postgresql://auth-service-postgres:5432/auth-service
AUTH_DB_NAME=auth-service
AUTH_DB_USERNAME=user
AUTH_DB_PASSWORD=password

# Environment of auth server
AUTH_SERVER_PORT=8001

# Environment of spring profiles
AUTH_SERVER_PROFILES=dev
#AUTH_SPRING_PROFILES=prod

# Environment of spring security
AUTH_SERVER_SECRET_KEY=secret123
AUTH_SERVER_ACCESS_TOKEN_EXPIRATION=3600000
AUTH_SERVER_REFRESH_TOKEN_EXPIRATION=86400000
AUTH_SERVER_PASSWORD_STRENGTH=12

#enviroment of client origin
AUTH_SERVER_CLIENT_ORIGIN=http://localhost:3000