#----------------#
# Config Service #
#----------------#
#CONFIG_SERVER_HOSTNAME=localhost
CONFIG_SERVER_HOSTNAME=config-service
CONFIG_SERVER_PORT=8888

#-------------------#
# Discovery Service #
#-------------------#
#DISCOVERY_SERVER_HOSTNAME=localhost
DISCOVERY_SERVER_HOSTNAME=discovery-service
DISCOVERY_SERVER_PORT=8761

#--------------#
# API GATEWAY #
#--------------#
GATEWAY_SERVER_PORT=8222

#-----------------#
# Patient Service #
#-----------------#
# - FOR LOCAL - #
#PATIENT_DB_URL=
# - FOR DOCKER - #
PATIENT_DB_URL=
PATIENT_DB_NAME=patient-service
PATIENT_DB_USERNAME=root
PATIENT_DB_PASSWORD=123456

PATIENT_SERVER_PORT=8002

PATIENT_SPRING_PROFILES=dev
#PATIENT_SPRING_PROFILES=prod

# Enviroment of secret keys
ENCRYPTION_KEY=
MEDSYNC_HASH_KEY=

#--------------#
# Auth Service #
#--------------#
#Environment of auth database
# - FOR LOCAL - #
#AUTH_DB_URL=
# - FOR DOCKER - #
AUTH_DB_URL=
AUTH_DB_NAME=auth-service
AUTH_DB_USERNAME=root
AUTH_DB_PASSWORD=123456

# Environment of auth server
AUTH_SERVER_PORT=8001

# Environment of spring profiles
AUTH_SERVER_PROFILES=dev
#AUTH_SPRING_PROFILES=prod

# Environment of spring security
AUTH_SERVER_ADMIN_USERNAME=admin
AUTH_SERVER_ADMIN_PASSWORD=admin
AUTH_SERVER_ADMIN_ROLE=ADMIN

# Environment of spring security
AUTH_SERVER_SECRET_KEY=
AUTH_SERVER_ACCESS_TOKEN_EXPIRATION=3600000
AUTH_SERVER_REFRESH_TOKEN_EXPIRATION=86400000
AUTH_SERVER_PASSWORD_STRENGTH=12

#enviroment of client origin
AUTH_SERVER_CLIENT_ORIGIN=http://localhost:3000